In [47]:
import pandas as pd

In [48]:
order = pd.read_csv('orders.csv', sep=';')
order = order.rename(columns={'ID товара': 'Product_ID'}, inplace=False)
order.head(1)

,Дата создания,Order ID,ID Покупателя,Статус,Оплачен,Отменен,Отгружен,Product_ID,Количество
0,09.11.2019 21:55:51,9,10,"Принят, ожидается оплата",Нет,Нет,Нет,103,5

In [49]:
product = pd.read_csv('products.csv', sep=';')
product.head(1)

   Product_ID                  Name  Price CURRENCY
0          47  Шатны Полосатый рейс   2999      RUR

In [50]:
# Объедините заданные таблицы в таблицу orders_products, чтобы в результирующей таблице оказалась информация обо всех заказах, 
# но не оказалось информации о продуктах, на которых заказов ещё не поступало. 
orders_products = pd.merge(order, product, on='Product_ID', how='left')
print(orders_products)

          Дата создания  Order ID  ID Покупателя  \
0   09.11.2019 21:55:51         9             10
1   09.11.2019 15:05:57         8              9
2   09.11.2019 15:05:57         8              9
3   09.11.2019 12:50:07         7              8
4   09.11.2019 12:00:00         6              1
5   09.11.2019 12:00:00         6              1
6   08.11.2019 08:36:22         5              5
7   08.11.2019 08:36:22         4              9
8   08.11.2019 08:36:22         3              8
9   08.11.2019 08:36:22         3              8
10  08.11.2019 08:36:21         2              7
11  08.11.2019 08:36:21         2              7
12  08.11.2019 08:36:21         2              7
13  08.11.2019 08:36:21         2              7
14  08.11.2019 08:36:20         1              5
15  08.11.2019 08:36:20         1              5
16  08.11.2019 08:36:20         1              5
17  01.01.2001 00:00:00         0              1

                             Статус Оплачен Отменен Отгружен  Product_ID  \
0          Принят, ожидается оплата     Нет     Нет      Нет         103
1          Принят, ожидается оплата     Нет     Нет      Нет          86
2          Принят, ожидается оплата     Нет     Нет      Нет         104
3          Принят, ожидается оплата     Нет     Нет      Нет         104
4          Принят, ожидается оплата     Нет     Нет      Нет         104
5          Принят, ожидается оплата     Нет     Нет      Нет         103
6                           Отменён     Нет      Да      Нет         124
7          Принят, ожидается оплата     Нет     Нет       Да          91
8   Оплачен, формируется к отправке      Да     Нет      Нет         103
9   Оплачен, формируется к отправке      Да     Нет      Нет         104
10                         Выполнен      Да     Нет       Да          74
11                         Выполнен      Да     Нет       Да          53
12                         Выполнен      Да     Нет       Да         137
13                         Выполнен      Да     Нет       Да          47
14  Оплачен, формируется к отправке      Да     Нет      Нет          71
15  Оплачен, формируется к отправке      Да     Нет      Нет          86
16  Оплачен, формируется к отправке      Да     Нет      Нет          51
17  Оплачен, формируется к отправке      Да     Нет      Нет         666

    Количество                       Name   Price CURRENCY
0            5      Носки Подарочные, муж   199.0      RUR
1          100         Носки Простые, муж    45.0      RUR
2           10      Носки Подарочные, жен   249.0      RUR
3            7      Носки Подарочные, жен   249.0      RUR
4            5      Носки Подарочные, жен   249.0      RUR
5            5      Носки Подарочные, муж   199.0      RUR
6            1       Носки беговые Camino   999.0      RUR
7            1         Носки Честные, муж    50.0      RUR
8            3      Носки Подарочные, муж   199.0      RUR
9            3      Носки Подарочные, жен   249.0      RUR
10           1   Платье Ночная Жизнь XXXL  8999.0      RUR
11           1     Штаны Цветочная Поляна  4999.0      RUR
12           1  Гольфы детские Снегурочка    99.0      RUR
13           1       Шатны Полосатый рейс  2999.0      RUR
14           1        Платье Ночная Жизнь  7999.0      RUR
15           1         Носки Простые, муж    45.0      RUR
16           1   Платье Аленький цветочек  4999.0      RUR
17           1                        NaN     NaN      NaN

In [60]:
# Какой покупатель принёс наибольшую суммарную прибыль интернет-магазину за указанный период?
mask1 = orders_products.groupby('ID Покупателя')['Price'].sum()
display(mask1)

ID Покупателя
1       448.0
5     14042.0
7     17096.0
8       697.0
9       344.0
10      199.0
Name: Price, dtype: float64