In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
tsum = pd.read_excel('Data_TSUM.xlsx')
tsum.head()

       brand Category   producer_id producer_color  price
0  Valentino    Shoes  aaaaa1111_11          black    167
1  Valentino    Shoes  aaaaa1111_12          black    188
2  Valentino    Shoes  aaaaa1111_13          black    184
3  Valentino    Shoes  aaaaa1111_14        bla//ck    196
4  Valentino    Shoes  aaaaa1111_15        bla\\ck    250

Имеются две базы данных (два листа Excel-файла): база с ценами конкурентов (Data_Parsing) и внутренняя база компании (Data_Company).

В базе парсинга есть два id, однозначно определяющие товар: producer_id и producer_color.

В базе компании есть два аналогичных поля: item_id и color_id.

Нам известно, что коды в двух базах отличаются наличием набора служебных символов. В базе парсинга встречаются следующие символы: _, -, ~, \\, /.

Необходимо:

1. Считать данные из Excel в DataFrame (Data_Parsing) и (Data_Company).
2. Подтянуть к базе парсинга данные из базы компании (item_id, color_id, current_price) и сформировать столбец разницы цен в % (цена конкурента к нашей цене).
3. Определить сильные отклонения от среднего в разности цен в пределах бренда-категории (то есть убрать случайные выбросы, сильно искажающие сравнение). Критерий — по вкусу, написать комментарий в коде.
4. Записать новый файл Excel с базой парсинга, приклееными к ней столбцами из пункта 2 и с учётом пункта 3 (можно добавить столбец outlier и проставить Yes для выбросов).